/* span#id1 {
    color: red
}

.highlight{
    background-color: yellow;
    color: blue;
}
#id2 {
    color: green;
} */

/* Tô màu thẻ p thứ 2, bỏ qua thẻ span và thẻ p */
span + p + p {
    color: red;
}

/* Có dấu > thì chỉ lấy những cái thẻ a to hơn, không có thì lấy tất cả */
div.items > a {
    color: green;
}


.underline{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

.highlight{
    background-color: yellow;
}


.red{
    color: red
}
/*đổi định dạng của các thẻ p có title*/
p[title] {
    color: blueviolet;
}

/*Đổi định dạng các thẻ p có name là "test"*/
p[name = "test"] {
    color: white;
}

h1, p {
    color: green;
}

/*Khi di chuột vào sẽ đổi định dạng*/
.hoverClass:hover{
    color: blue;
    text-decoration: underline;
}

/* Định dạng màu cho liên kết chưa truy cập */
a:link {
    color: pink;
}

/* Định dạng màu cho liên kết đã truy cập */
a:visited {
    color: red;
}

/*Khi ấn chuột thì tất cả phần ul sẽ đổi định dạng màu*/
ul:active {
    background-color: gold;
}


